/* ------------------------------------------- */
/* -- Colours + Variables */
/* ------------------------------------------- */

// :root {
//   --site-width: 1464px;
//   --site-width-2: 994px;

//   --color-light-grey: #f2f2f2;
//   --color-grey-1: #e5e6e5;
//   --color-grey-2: #fafafa;
//   --color-Grey-3: #b5b3b6;
//   --color-Grey-4: #bdbdbd;
//   --color-Grey-5: #4f4f4f;
//   --color-purple-p: #532a63;
//   --color-white: #fff;
//   --color-yellow-p: #e2e439;
//   --color-teal-s: #27b3ab;
//   --color-cyan-s: #009cd8;
//   --color-coral-s: #f16156;
//   --color-Black: #020a0a;
// }

$site-width: 1464px;
$site-width-2: 994px;

$color-light-grey: #f2f2f2;
$color-grey-1: #e5e6e5;
$color-grey-2: #fafafa;
$color-Grey-3: #b5b3b6;
$color-Grey-4: #bdbdbd;
$color-Grey-5: #4f4f4f;
$color-purple-p: #532a63;
$color-white: #fff;
$color-yellow-p: #e2e439;
$color-teal-s: #27b3ab;
$color-cyan-s: #009cd8;
$color-coral-s: #f16156;
$color-Black: #020a0a;

$breakpoint--main: 768px;
$space: 20;
