@import "fonts";
// Variables
@import "variables";
// A basic reset
@import "reset";

// Collection of mixins
@import "mixins";
/* ---------------------- */

@import "base";
@import "typography";

// @import "loader";

/* ---------------------- */

@import "swiper";




.holder {
  @extend %holder;

  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}




